
/* ============================================================
	GLOBALS
============================================================ */
body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8;

    background: #466368;
    background: linear-gradient(#CD0027 , #E59400);
    border-radius: 6px;
    height: 120px;

}

body, html {
  height: 100%;
  width: 100%;
  margin: 0; 
}

/* ============================================================
	TEMPLATE
============================================================ */

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

 /* ============================================================
	COMMON
============================================================ */
/* sections */

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

input[type="text"] {
	display: block;
	margin: 0;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
}
input[type="text"]:focus {
	outline: none;
}

.mainLogo {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* ============================================================
	STYLE
============================================================ */

.style-1 {
	padding: 10px;
	border: solid 5px #000000 ;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
    background-color: white; 

    display: block;
	margin: 0;
	width: 95%;
	font-family: "Open Sans", sans-serif;
    color: black;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;

    display:block;
    margin-left:auto;
    margin-right:auto;

}

.style-2 input[type="text"] {
	padding: 10px;
	border: solid 5px #c9c9c9;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
    user-select: none;   
    margin-right:0px;
}
.style-2 input[type="text"]:focus, .style-2 input[type="text"].focus {
	border: solid 5px #000000 ;
    width: 25%;
    margin-top: 10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* ============================================================
	TIMER & REFRESH BUTTON
============================================================ */
#clockdiv{
    font-family: sans-serif;
    color: white;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-right:0px;
    margin-left:0px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #CD0027;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: black;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.score{
    padding: 10px;
	border: solid 5px #000000 ;
	-webkit-transition: border 0.3s;
	-moz-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
    background-color: white; 

    display: none;
	margin: 0;
	width: 30%;
	font-family: "Open Sans", sans-serif;
    color: black;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;

    float: right;
    margin-right: 22.5%;
    margin-top: -8.5%;
}

h1{
    font-size: 16px;
}
